* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: inherit;
}

body {
  font-family: "Muli", "Helvetica", "Arial", sans-serif;
  height: 100%;
}

html {
  height: 100%;
}

h1 {
  font-weight: 300;
}

section {
  height: 100%;
  color: #fff;
  padding: 20px;
  font-weight: 300;
}

.content {
  max-width: 700px;
}

#input-page.is-hidden,
#result-page.is-hidden {
  display: none;
}

input {
  font-size: 1.25rem;
  padding: 0.75rem;
  margin: 1rem 0;
  border-radius: 10px;
  border: 2px solid #ddd;
  height: 3.5rem;
  width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input:focus {
  box-shadow: 0 0 3px 2px #6200ea;
}

#overlay {
  display: none;
  position: fixed; /* Positioning and size */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* color */
}

#overlay.show {
  display: block;
}

.modal {
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  min-height: 80px;

  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border: 2px solid #aa00ff;

  color: #555;
  transition: color 0.1s ease;
}

#input-page {
  display: flex;
  justify-content: center;

  flex-direction: column;
  padding-bottom: 12.5vh;
}

#city-list {
  cursor: pointer;
  overflow-wrap: break-word;
}

.city-option {
  display: block;
  padding: 1rem;
}

.city-option:hover {
  background-color: #aa00ff;
  color: #fff;
}

.close-modal-btn {
  position: absolute;
  right: 8px;
  top: 9px;
  cursor: pointer;
  height: 2rem;
  width: 1.75rem;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #aa00ff;
  transition: color 0.1s ease;
}

.modal-instruction {
  display: block;
  padding: 1rem;
  color: #555;
}

#weather-btn {
  border-radius: 10px;
  padding: 0.75rem;

  height: 3.5rem;
  width: 100%;

  font-size: 1.25rem;
  font-weight: 600;

  color: #fff;
  background: #aa00ff;
  border: 2px solid rgb(143, 1, 214);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  transition: background 0.1s ease;
}

#weather-btn:hover {
  background: rgb(154, 0, 231);
  border: 2px solid rgb(120, 1, 180);
}

#result-page {
  display: flex;
  justify-content: center;

  flex-direction: column;
  padding-bottom: 12.5vh;
}

.temperature {
  font-size: 6rem;
  line-height: 5rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-weight: 200;
}

.temp-and-description {
  display: flex;
  align-items: center;
}

.temp-icon-container {
  height: 80px;
  width: 80px;
  margin-right: 0.5rem;
}

.weather-info {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.city-name {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
}

.date {
  font-size: 1.25rem;
  margin-left: 0.25rem;
}

#search-again-btn {
  position: absolute;
  top: 2rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: white;
  height: 2rem;
  margin-left: 0.5rem;

  cursor: pointer;
  transition: background 0.1s ease;
}

#search-again-btn:hover {
  color: #aa00ff;
}

.back-arrow {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

img {
  filter: brightness(0) invert(1);
  height: 80px;
  width: 80px;
}

.has-background-default {
  background: linear-gradient(
    rgb(33, 6, 68),
    rgb(52, 15, 100),
    90%,
    rgb(170, 0, 255)
  );
}

.has-background-day-cool {
  background: linear-gradient(rgb(33, 6, 68), rgb(52, 15, 100), 90%, #2962ff);
}

.has-background-day-warm {
  background: linear-gradient(rgb(33, 6, 68), rgb(52, 15, 100), 90%, #ff6d00);
}

.has-background-snow-mist {
  background: linear-gradient(rgb(33, 6, 68), rgb(52, 15, 100), 90%, #c51162);
}

.has-background-dark {
  background: linear-gradient(rgb(33, 6, 68), rgb(52, 15, 100), 90%, #304ffe);
}

/* Backgrounds

.has-background-default {
  background: 
  linear-gradient(rgb(33, 6, 68), rgb(52, 15, 100) , 90%, rgb(170, 0, 255) );

}

.has-background-day-cool {
  background: 
  radial-gradient(circle 80vw at top right, rgb(255, 240, 175), rgba(255, 246, 208, 0.5), rgba(255, 253, 245, 0.2), transparent),
  linear-gradient(rgba(100, 195, 250, 0.8), rgba(18, 57, 182, 0.8));
}

.has-background-day-warm {
  background: 
  radial-gradient(100vw 60vh at top, rgba(161, 16, 0, 0.4),   rgba(187, 30, 2, 0.3), transparent),
  linear-gradient(rgba(194, 21, 0, 0.8), rgba(255, 166, 0, 0.8));
}

.has-background-snow-mist {
  background: 
  radial-gradient(100vw 40vh at bottom, rgba(253, 83, 10, 0.6),   rgba(240, 140, 98, 0.5), transparent),
  linear-gradient(rgba(142, 68, 238, 0.8), rgba(184, 86, 236, 0.8), rgba(240, 140, 98, 0.8));
}

.has-background-dark {
  background: 
  radial-gradient(100vw 60vh at top, rgba(15, 1, 32, 0.4),   rgba(45, 13, 87, 0.4), transparent),
  linear-gradient(rgba(0, 4, 40, 0.9), rgba(0, 78, 144, 0.9),);
} */

@media only screen and (min-width: 650px) {
  html {
    font-size: 18px;
  }

  h1 {
    font-size: 2.25rem;
    padding-left: 0.25rem;
    padding-bottom: 1rem;
  }

  #input-page {
    align-items: flex-start;
  }

  #input-field {
    width: 400px;
    font-size: 1.1em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 2px solid rgb(143, 1, 214);
    border-right: none;

    padding-left: 1rem;
    padding-right: 1rem;
  }

  input:focus {
    box-shadow: none;
  }

  #weather-btn {
    margin: 0;
    margin: 1rem 0;

    width: 200px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 1.1rem;
    font-weight: bold;
  }

  .desktop-alongside {
    display: flex;
  }

  #input-page {
    padding-left: 4rem;
  }

  #result-page {
    padding-left: 4rem;
  }
}
